# You can leave this file empty on development environments.
# Default values will be loaded in code.
MAIN_DATASTORE_SERVICE_NAME=main-data-store
MAIN_DATASTORE_SERVICE_MONGO_PORT=27017

LOG_LEVEL=INFO

BCRYPT_LOG_ROUNDS=15
WTF_CSRF_ENABLED=True

BLOGS_DATABASE_NAME=blogs_data
BLOGS_DRAFTS_COLLECTION_NAME=blogs_drafts
JWT_SECRET_KEY=7B968F7F2E7FA3FE577FD97C4DADA